body {
    background-color: gray;
}

#tools {
    display: grid;
    grid-template-columns: repeat(auto-fill,100px);
    grid-template-rows: repeat(auto-fill,100px);

    background-color: black;

    width: 80%;
    height: fit-content;
    padding: 10px;
    border: 10px solid black;
    border-radius: 10px;
    margin: auto;
}

.tool {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    background-color: rgba(255,255,255,0.1);

    box-sizing: border-box;
    width: 80px;
    aspect-ratio: 1 / 1;
    padding: 10px;
    border: medium ridge rgba(255,255,255,0.5);
    border-radius: 50%;
}

#stopwatch {
    color: dodgerblue;
}


#calculator {
    color: orange;
}

#checklist {
    color: lime;
}

#stopwatch-icon, #calculator-icon, #checklist-icon {
    font-size: 3em;
}