body {
    background-color: gray;

    display: flex;
    align-items: flex-start;
}

.hidden {
    visibility: hidden;
}

.app-box {
    background-color: black;

    width: calc(100% - 116px);
    border: 10px solid black;
    border-radius: 10px;
    margin: 0 48px;
}

#back-button {
    background-color: rgba(255,255,255,0.1);

    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 50%;

    position: absolute;
    top: 8px;
    left: 8px;

    color: whitesmoke;
    font-family: 'Noto Sans', 'Noto Sans Symbols', 'Noto Sans Math', 'Noto Sans Symbols 2', 'Lucida Sans', sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
    text-align: center;
}

#result {
    color: whitesmoke;

    width: 100%;
    margin: 0 0 20px 0;

    overflow: auto;
    white-space: nowrap;

    font-family: 'Noto Sans', 'Noto Sans Symbols', 'Noto Sans Math', 'Noto Sans Symbols 2', 'Lucida Sans', sans-serif;
    font-weight: bold;
    font-size: 5em;
    text-align: end;
}

.calc-symbols {
    display: flex;
    justify-content: flex-end;

    width: 100%;

    font-size: 2em;
}

.symbol {
    color: whitesmoke;
    font-size: inherit !important;
}

.calc-buttons-table {
    width: 100%;
    aspect-ratio: 5 / 5;
    margin: 10px auto;

    table-layout: fixed;
    
    text-align: center;
}

.calc-button {
    background-color: rgba(255,255,255,0.1);

    width: 95%;
    aspect-ratio: 1 / 1;
    padding: 0;
    border: ridge medium rgba(255,255,255,0.5);
    border-radius: 50%;

    color: whitesmoke;
    font-family: 'Noto Sans', 'Noto Sans Symbols', 'Noto Sans Math', 'Noto Sans Symbols 2', 'Lucida Sans', sans-serif;
    font-weight: bold;
    font-size: 1.8em;
}

.calc-button-highlight {
    color: limegreen;
}

.calc-button-operator {
    color: rgb(255, 255, 136);
}

.calc-button-clear {
    color: rgb(255, 69, 69);
}

.calc-button-memory {
    color: rgb(36, 109, 211);
}

.calc-button-modifier {
    color: rgb(178, 178, 178);
}