body {
    background: gray;
}

#stopwatch {
    background: black;

    width: auto;
    border: 10px solid black;
    border-radius: 10px;
    margin: 0 48px;
}

#back-button {
    background-color: rgba(255,255,255,0.1);

    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 50%;

    position: absolute;
    top: 8px;
    left: 8px;

    color: whitesmoke;
    font-family: 'Noto Sans', 'Noto Sans Symbols', 'Noto Sans Math', 'Noto Sans Symbols 2', 'Lucida Sans', sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
    text-align: center;
}

#time, #laps-box li {
    color: whitesmoke;
    font-family: 'Noto Sans', 'Noto Sans Symbols', 'Noto Sans Math', 'Noto Sans Symbols 2', 'Lucida Sans', sans-serif;
    font-weight: bold;  
}

#time {
    width: 100%;
    margin: 20px auto;

    text-align: center;
    font-size: 3em;

    white-space: nowrap;
    overflow-x: auto;
}

.button-container {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

.action-button {
    display: inline-block;
    background: rgba(255,255,255,0.1);

    width: 120px;
    height: 120px;
    border: medium ridge rgba(255,255,255,0.5);
    border-radius: 50%;
    margin: 10px auto;

}

#play {
    color: limegreen;
    text-shadow: 2px 2px 3px green;
}

#pause {
    color: yellow;
    text-shadow: 2px 2px 3px gold;
}

#lap {
    color: deepskyblue;
    text-shadow: 2px 2px 3px dodgerblue;
}

.reset-unused {
    color: orange;
    text-shadow: 2px 2px 3px chocolate;
}

.reset-used {
    color: lightgray;
    text-shadow: 2px 2px 3px gray;   
}

#play-icon, #reset-icon, #pause-icon, #lap-icon {
    font-size: 8em;
}

#laps-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 180px;
    padding: 0;
    margin: 10px auto;

    white-space: nowrap;
    overflow: auto;

    list-style: decimal-leading-zero;
    list-style-position: inside;

}

#laps-box li {
    font-size: 1.5rem;
}

