.material-symbols-outlined {
    font-size: inherit !important;
    color: inherit !important;
}

body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: left;

    background: black;

    width: 100%;
    height: 40px;
    padding: 10px;

    color: whitesmoke;
    font-family: 'Noto Sans', 'Noto Sans Symbols', 'Noto Sans Math', 'Noto Sans Symbols 2', 'Lucida Sans', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

header a {
    margin: 0;

    font: inherit;
    text-decoration: none;
    color: inherit;
}