.material-symbols-outlined {
    font-size: inherit !important;
    color: inherit !important;
}

html, body {
    height: 100%;
    margin: 0;

    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

header {
    width: calc(100% - 20px);
    height: 40px;
    padding: 10px;

    display: flex;
    align-items: center;

    background: dimgray; /*rgb(117, 69, 11);*/
    color: whitesmoke;
    font-family: inherit;
    font-weight: bold;
    font-size: 2rem;
}

header a {
    margin: 0;

    font: inherit;
    text-decoration: none;
    color: inherit;
}

.content {
    width: 100%;
    height: calc(100% - 60px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: rgb(245, 234, 200);
}

.tracker-views {
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tracker-views button {
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgb(0, 0, 0, 0.2);
    font-size: 2rem;
    color: black;
}

.tracker-views button.selected {
    background: rgb(0, 0, 0, 0.8);
    color: whitesmoke;
}

.tracker-and-controls {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

/*nav {
    width: 80px;
    height: 100%;

    background: cornflowerblue;
}

.open-nav-button {
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 6px 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: cornflowerblue;
    font-size: 2rem;
}*/

.tracker-button-change-page {
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 50%;
    margin: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgb(180, 180, 180, 0.1);
    font-size: 1.8rem
}

.tracker-button-change-page:hover {
    background: rgb(180, 180, 180, 0.2);
}

.tracker-box {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tracker-actions {
    box-sizing: border-box;
    width: 100%;
    height: 42px;
    padding: 0 20px;
    
    display: flex;
    align-items: flex-start;
}

.tracker-actions button {
    width: 42px;
    height: 42px;
    padding: 0;
    border: 3px solid saddlebrown;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    transform: translateY(42px);

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgb(150, 90, 47);
    font-size: 1.8rem;
    color: white;
    transition: transform 1.5s;
}

@keyframes buttonShow {
    to {
        transform: translateY(0px);
    }
}

@keyframes buttonHide {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(42px);
    }
}

.tracker-actions button.button-show-animation {
    animation: buttonShow 1.5s ease forwards;
} 

.tracker-actions button.button-hide-animation {
    animation: buttonHide 1.5s ease forwards;
} 

.tracker-content {
    box-sizing: border-box;
    width: auto;
    height: clamp(0px, min(calc(100vh - 20px - 120px), calc((100vw - 120px) / 1.414)), 297mm);
    aspect-ratio: 1.414 / 1;
    border: 2px inset rgb(128, 128, 128, 0.5);
    border-radius: 20px;
    outline: 3px inset rgb(128, 128, 128, 0.8);

    display: flex;
    flex-direction: row;
    position: relative;

    background: rgb(245, 234, 200);
    box-shadow: 0 0 8px 3px rgb(128, 128, 128, 0.5);

}

.tracker-content::after {
    content: '';
    
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 50%;

    width: 2px;
    background: rgb(128, 128, 128, 0.5);

    transform: translateX(-50%);
}

.tracker-page {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    padding: 12px;

    display: flex;
    flex-direction: column;

    font-family: inherit;
}

.tracker-page h1 {
    margin: 2px;
}

.tracker-page textarea {
    resize: none;
    width: 100%;
    flex: 1;
    padding: 0;
    border: none;
    border-radius: 3px;
    margin: 2;

    background: transparent;
    font-family: inherit;
}

.tracker-page textarea:hover {
    background: rgb(180, 180, 180, 0.1);
    outline: 3px solid rgb(180, 180, 180, 0.2);
}

.tracker-page textarea:focus {
    outline: 3px solid rgb(180, 180, 180, 0.2);
}